<div class="channel-messages">
  <div class="channel-messages__channel-title">
    <h3 class="channel-messages__channel-name"># <%= @channel.name %></h3>
    <%= render partial: "shared/icon/sign_out" %>
  </div>

  <p class="channel-messages__desc">このチャンネルに参加して○日後のユーザーに「DM」します</p>
  <div class="channel-messages__stat">
    <p>送信済合計 <%= @pushed_count %> / 既読数合計 <%= @is_read %></p>
  </div>

  <div class="channel-messages__add-message">
    <%= link_to new_workspace_channel_message_path(channel_id: @channel.id), class: "channel-messages__add-message-link" do %>
      <i class="fas fa-plus-circle"></i> メッセージを追加
    <% end %>
  </div>

  <% @messages.each do |message| %>
    <%= render partial: "channel_message", locals: {message: message} %>
  <% end %>

  <% unless @messages.present? %>
    <%= render partial: "no_message_yet" %>
  <% end %>
</div>
