<div class="flex-container">
  <div class="flex-item">
    <img src="https://avatars.slack-edge.com/2020-10-12/1418393192325_a55bbafd0056bbddcb32_88.png" class="ws_icon">
    <p>general<br />
      10人 <a href="#">削除</a></p>
    <p class="add_channel">+ チャンネルを追加</p>
  </div>

  <div class="row-item">
    <h3 class="text-center channel_title"># general</h3>

    <div class="contents">
      <div>
        <p class="text-center">○月○日以降、このチャンネルに参加してから○日後のユーザーにボットから「DM」します</p>
      </div>

      <div class="stat">
        <p>送信済合計 1234 / 既読数合計 998</p>
      </div>

      <div class="add_message">
        <%= link_to "+ メッセージを追加", new_channel_message_path(1), class: "add_message_link" %>
      </div>

      <% @messages_sorted.each do |message| %>
        <div class="messages">
          <div class="post_datetime text-divider">
            <p class="post_datetime_label"><%= message.push_timing.in_x_days %>日後の<%= message.push_timing.time.strftime('%H:%M:%S') %></p>
          </div>
          <div class="post_menu">
            <%= link_to "編集", edit_channel_message_path(message.channel_id, message.id) %><br />
            <%= link_to "削除", channel_message_path(message.channel_id, message.id), method: :delete %>
          </div>

          <div class="post_contents">
            <div class="icon">
              <%= image_tag(@user_info_profile_image, class: "post_icon") %>
            </div>
            <div class="post_data">
              <div class="post_name">
                <p><%= @user_info_realname %></p>
              </div>

              <div class="post_content">
                <% if message.message %>
                  <%= simple_format(message.message) %>
                <% end %>
                <% if message.image_url %>
                  <%= image_tag(message.image_url, {class: "post_img"}) %>
                <% end %>
              </div>
            </div>
          </div>
        </div>
      <% end %>


    </div>
  </div>
</div>
