<div class="wrapper">
  <div class="channels">
    <%= link_to image_tag(@workspace.icon_url, class: "channels__ws-icon"), workspaces_path %>
    <% @channels.each do |channel| %>
      <div class="channel">
        <div class="channel__name">
          <%= link_to channel.name, channel.id.to_s %>
        </div>
        <div class="channel__number-of-people">
          <%= channel.member_count %>人
        </div>
      </div>
    <% end %>
    <div class="channels__add-channel">
      + チャンネルを追加
    </div>
  </div>

  <div class="channel-messages">
    <div class="channel-messages__channel-title">
      <h3 class="channel-messages__channel-name"># <%= @channel.name %></h3>
    </div>

    <p class="channel-messages__desc">○月○日以降、このチャンネルに参加してから○日後のユーザーにボットから「DM」します</p>
    <div class="channel-messages__stat">
      <p>送信済合計 <%= @pushed_count %> / 既読数合計 <%= @is_read %></p>
    </div>

    <div class="channel-messages__add-message">
      <%= link_to "+ メッセージを追加", new_workspace_channel_message_path(channel_id: @channel.id), class: "channel-messages__add-message-link" %>
    </div>


    <% @messages.each do |message| %>

      <div class="channel-message-list">
        <div class="channel-message__post-datetime-label channel-message-divider">
          <p class="channel-message__post-datetime"><%= message.push_timing.in_x_days %>日後の<%= message.push_timing.time.strftime('%H:%M:%S') %></p>
        </div>

        <div class="channel-message-menu">
          <%= link_to "編集", edit_workspace_channel_message_path(@workspace, message.channel_id, message.id) %><br />
          <%= link_to "削除", workspace_channel_message_path(@workspace, message.channel_id, message.id), method: :delete %>
        </div>

        <div class="channel-message">
          <%= image_tag(@user_info_profile_image, class: "channel-message__sender-icon") %>
          <div class="channel-message-data">
            <div class="channel-message-data__sender-name">
              <%= @user_info_realname %>
            </div>

            <div class="channel-message-data__content">
              <% if message.message %>
                <%= simple_format(message.message) %>
              <% end %>
              <% if message.image_url %>
                <%= image_tag(message.image_url, {class: "channel-message-data__img"}) %>
              <% end %>
            </div>
          </div>
        </div>

      </div>

    <% end %>

  </div>
</div>
