<div class="lp">
  <%= render partial: "flash" %>

  <div class="lp__header">
    <%= render partial: "header" %>
  </div>

  <div class="lp__firstview">
    <%= render partial: "first_view" %>
  </div>

  <div class="lp__features">
    <%= render partial: "features" %>
  </div>
</div>

<div class="lp-how-to-use">
  <%= render partial: "how_to_use" %>
</div>
